# Limpieza de Datos

**Actividad 1**

Alicia Christyna Mart√≠nez Parra

In [1]:
import pandas as pd
from utils import path_loader as p

In [2]:
# Load csv file
try:
    df = pd.read_csv(p.generate_file_path(
        file_name='avocado_prices', file_extension='csv', directory='input'))

    n_row, n_col = df.shape
    print(f'CSV File loaded succesfully!\nThere are {n_row} rows and {n_col} columns')
except Exception as e:
    print(f'Something wrong happended!: {e}')

CSV File loaded succesfully!
There are 18249 rows and 14 columns

In [3]:
# Check missing values
df.isnull().sum()

Unnamed: 0      0
Date            0
AveragePrice    0
Total Volume    0
4046            0
4225            0
4770            0
Total Bags      0
Small Bags      0
Large Bags      0
XLarge Bags     0
type            0
year            0
region          0
dtype: int64

In [4]:
# Inspect dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18249 entries, 0 to 18248
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    18249 non-null  int64
 1   Date          18249 non-null  object
 2   AveragePrice  18249 non-null  float64
 3   Total Volume  18249 non-null  float64
 4   4046          18249 non-null  float64
 5   4225          18249 non-null  float64
 6   4770          18249 non-null  float64
 7   Total Bags    18249 non-null  float64
 8   Small Bags    18249 non-null  float64
 9   Large Bags    18249 non-null  float64
 10  XLarge Bags   18249 non-null  float64
 11  type          18249 non-null  object
 12  year          18249 non-null  int64
 13  region        18249 non-null  object
dtypes: float64(9), int64(2), object(3)
memory usage: 1.9+ MB

In [5]:
# Reset index and drop unnecessary columns
df = df.reset_index(drop=True).drop(columns=['Unnamed: 0'])

In [6]:
# Rename columns to snake case
columns_dict = {
    "Date": 'date',             
    "AveragePrice": 'average_price',                   
    "Region": 'region',           
    "Total Volume": 'total_volume',
    'Total Bags': 'total_bags',
    'Small Bags': 'small_bags',
    'Large Bags': 'large_bags',
    'XLarge Bags': 'x_large_bags'                 
}

df = df.rename(columns=columns_dict)

In [7]:
# Check for duplicate rows
df[df.duplicated()].value_counts()

Series([], Name: count, dtype: int64)

In [8]:
df.head(3)

,date,average_price,total_volume,4046,4225,4770,total_bags,small_bags,large_bags,x_large_bags,type,year,region
0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany

In [9]:
# Save the processed file 
output_path = p.generate_file_path(file_name='avocado_prices_processed', file_extension='csv', directory='output')
df.to_csv(f'{output_path}', index=False)